/* src/pages/Login.css */

.login-wrapper {
  /* Ép nó chiếm toàn bộ chiều rộng và chiều cao trình duyệt cho đẹp */
  width: 100vw; 
  height: 100vh;
  
  /* Căn giữa */
  display: flex;
  justify-content: center;
  align-items: center;
  
 
  background-color: #f0f2f5; 
  
  
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999; 
}

.login-box {
  background: #ffffff;
  padding: 2.5rem;
  border-radius: 12px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 350px; 
  text-align: center;
}


form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

input {
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 6px;
}

button {
  background-color: #4285f4;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
}